.container {
    width: 100%;
    margin: 0;
}

.accordion {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}
.tab ul {
    margin: 0;
}

.tab {
    display: block;
    text-transform: capitalize;
    padding: 15px 13px;
    text-decoration: none;
    font-size: 1em;
    color: #fff;
    background: #3217b7;
    cursor: pointer;
    margin: 0;
}

.panel {
    overflow: hidden;
    transition: height 0.2s ease-out; 
    height: 100%;
}

.content {
    text-transform: capitalize;
    margin: 0;
}

.content a {
    display: block;
    cursor: pointer;
    padding: 0.4em;
}

.content a:hover {
    color: #fff;
    background:#461ff4;
}


