.container {
    width: 100%;
}

.accordion {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
}

.tab {
    display: block;
    text-transform: capitalize;
    padding: 15px 13px;
    text-decoration: none;
    font-size: 1em;
    color: #fff;
    background: #333;
    cursor: pointer;
}

.panel {
    overflow: hidden;
    transition: height 0.2s ease-out; 
}

.content {
    padding:0.5em 0 0.5em 0.5em;
    text-transform: capitalize;
}

.content a {
    display: block;
}


