.modal-close {
    font-size: 2em;
    margin: 1em 1em 0  auto;
    cursor: pointer;
    color:#333;
    padding: 0 0.3em;
    border: none;
}
.modal-close:hover {
    color:#fff;
    background: #3217b7;
}