.MuiButtonBase-root.MuiListItem-root.MuiListItem-gutters.MuiListItem-button {
  font-size: 1em;
  color: #fff;
  background: #3217b7;
}
.MuiListItemText-root .MuiTypography-root {
  font-weight: bold;
  text-transform: capitalize;
}

.MuiCollapse-wrapperInner
  .MuiButtonBase-root.MuiListItem-root.MuiListItem-gutters.MuiListItem-button {
  background-color: #fff;
  color: #333;
}

.MuiCollapse-wrapperInner
  .MuiButtonBase-root.MuiListItem-root.MuiListItem-gutters.MuiListItem-button
  .MuiTypography-root {
  font-weight: normal;
}
