.map-navigation{
    display: flex;
    flex-basis: 25%;
    flex-direction: column;
    height: 100vh;
}

main {
    display: flex;
}

.map{
    background: #ccc;
    height: 100vh;
    top:0;
    position: sticky;
    flex-grow: 1;
}