main {
    display: flex;
}

footer {
    margin-top: auto;
}

.map-navigation {
    display: flex;
    flex-basis: 25%;
    flex-direction: column;
    height: 100vh;
}

.map-navigation nav {
    margin: 0;
}

.map {
    background: #ccc;
    height: 100vh;
    top: 0;
    position: sticky;
    flex-grow: 1;
}

@media screen and (max-width:500px){
    main {
        flex-direction: column-reverse;
    }
    .map {
        height: 40vh;
    }
    .map-navigation {
        height: 60vh;
    }
    .map-navigation footer p {
       font-size: 0.5em;
       padding: 0.5em;
    }
}